base58==2.1.1
bm25s==0.2.0
dill==0.3.8
faiss==1.8.0
fschat==0.2.36
networkx==3.4.2
nltk==3.9.1
numpy==1.26.4
openai==1.59.6
pyserini==0.43.0
PyStemmer==2.2.0.3
PyStemmer==2.2.0.3
PyYAML==6.0.2
PyYAML==6.0.2
rank_bm25==0.2.2
rouge==1.0.1
sentence_transformers==3.3.1
spacy==3.6.1
tiktoken==0.7.0
torch==2.5.1
tqdm==4.67.1
transformers==4.48.0
vllm==0.6.6.post1
